<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >


  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <!-- <variable name="myvar" value="myvalue"/> -->

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->

  <targets>
  <!--<targets async="true">-->

    <!-- 
    add your targets here 
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename. 
    Find baseDir with the following
            var basedirPath = AppDomain.CurrentDomain.BaseDirectory;
            logger.Info("baseDir: {0}", basedirPath);
    -->
    
    <!--<target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${callsite} ${uppercase:${level}}: ${message}" />-->
    
    <!-- New log every time applcation runs-->
    <target name="file" xsi:type="File"
             fileName="${basedir}/logs/log.${longdate:cached=true}.log"
             layout="${longdate} ${callsite} ${uppercase:${level}}: ${message}"
             archiveFileName="${basedir}/logs/archives/${shortdate}.{#}.log"
             archiveAboveSize="5242880"
             archiveEvery="Day"
             archiveNumbering = "Rolling"
             maxArchiveFiles="20"
             />
    
    
    <target xsi:type="Console" name="console" encoding="utf-8"
            layout="${longdate} ${callsite} ${uppercase:${level}}: ${message}" />
    
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--  minLevel -> log all events with this or higher level -->
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>
