<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.0.2" targetFramework="net452" />
  <package id="Accord.Extensions.Core" version="3.0.1" targetFramework="net452" />
  <package id="Accord.Extensions.Math" version="3.0.1" targetFramework="net452" />
  <package id="Accord.Math" version="3.0.2" targetFramework="net452" />
  <package id="Accord.Statistics" version="3.0.2" targetFramework="net452" />
  <package id="DotImaging.Primitives2D" version="2.5.3" targetFramework="net452" />
  <package id="MathNet.Numerics" version="3.12.0" targetFramework="net452" />
  <package id="NLog" version="4.3.5" targetFramework="net452" />
  <package id="NLog.Config" version="4.3.5" targetFramework="net452" />
  <package id="NLog.Schema" version="4.3.4" targetFramework="net452" />
</packages>